body{
  background-color: #f8f9fa;
}

.section1 {
  float: left;
  width: 15%;
  background-color: #E5E7E9;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
}

.left-col {
  float: left;
  width: 25%;
  background-color: #E5E7E9;
}

.section2{
  float: right;
  width: 15%;
  background-color: #E5E7E9;
}

.wrapper2{
  width: 400px;
  margin: 0 auto;
}

.right-col {
  float: right;
  width: 75%;
  background-color: #E5E7E9;

}

img {
  width: 250px;
  padding: auto;
  margin: 30px;
}


p{
  font-family: sans-serif, Times;
  font-size: 15px;
}


h5{
  font-family: sans-serif, Arial;
  font-size: 15px;
}

a href{
  color: blue;

}
