body{
  background-color: white;

}

.columnL{
  float: left;
  text-align: left;
  width: 15%;
  margin: auto;

}

img{
  width: 150px;
  margin: auto;
  padding: auto;
}



.columnR{
  float: left;
  width: 85%;
}

.clearfix{
  clear: both;
}

.header{
  width: 100%;
  display: inline-block;
  text-align: right;
  color: blue;
}


ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

p{
  font-family: sans-serif, Times;
  font-size: 15px;
}


h3{
  font-family: sans-serif, Arial;
  font-size: 15px;
}
